@model IEnumerable<GradeDTO>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color: burlywood;margin-left:15%">Списък с оценки</h1>

<p>
    <a class="btn-light"  asp-action="Create">Създай</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(item.Student != null ? $"{item.Student.FirstName} {item.Student.LastName}" : "Unknown Student")
            </td>
            <td>
                @(item.Teacher != null ? $"{item.Teacher.FirstName} {item.Teacher.LastName}" : "Unknown Teacher")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
